.no-furigana {
  color: darkred;
}

.no-hit-picked {
  color: darkred;
}

.no-annotation-morpheme {
  background-color: yellow;
}

.focused-morpheme {
  background-color: pink;
}

.morpheme-annotations {
  position: absolute;
  display: block;
  visibility: hidden;
  background-color: rgb(255, 224, 176);
  border-radius: 5px;
  padding-right: 1em;
  line-height: normal;
}

.annotated-sentence .morpheme:hover .morpheme-annotations {
  visibility: visible;
}

.morpheme.has-annotations {
  border-bottom: 1px solid silver;
}

button.edit-done-edit {
  margin-right: 1em;
  vertical-align: super;
}

.annotator {
  line-height: normal;
  font-size: 16px;
}
