.no-furigana {
  color: darkred;
}

.no-hit-picked {
  color: darkred;
}

.no-annotation-morpheme {
  background-color: yellow;
}

.focused-morpheme {
  background-color: pink;
}

.morpheme-annotations {
  position: absolute;
  display: block;
  visibility: hidden;
  background-color: var(--orangeSosekiProject);
  border-radius: 5px;
  padding-right: 1em;
  line-height: normal;
}

.annotated-sentence .morpheme:hover .morpheme-annotations {
  visibility: visible;
}

.morpheme.has-annotations {
  --orangeSosekiProject: rgb(255, 224, 176);
  --lilacSosekiProject: rgb(204, 177, 255);
  --tanSosekiProject: rgb(225, 178, 121);
  --greenSosekiProject: rgb(188, 235, 141);
  --blueSosekiProject: rgb(185, 213, 255);

  border-bottom: 1px solid var(--orangeSosekiProject);
}

button.edit-done-edit {
  margin-right: 1em;
  vertical-align: super;
}

.annotator {
  line-height: normal;
  font-size: 16px;
}

.morpheme .topdeck.sib3 {
  background-color: var(--lilacSosekiProject);
}

.morpheme .topdeck.sib2 {
  border-top: 2px solid var(--blueSosekiProject);
}

.morpheme .topdeck.sib1 {
  border-bottom: 3px solid var(--orangeSosekiProject);
}

li.annotate-bullet.sib3 {
  background-color: var(--lilacSosekiProject);
}
li.annotate-bullet.sib2 {
  background-color: var(--blueSosekiProject);
}
li.annotate-bullet.sib1 {
  background-color: var(--orangeSosekiProject);
}

.morpheme-annotations ul.kanjidic-list {
  font-size: small;
}

table.jdepp {
  --b: 1px; /* the thickness */
  border-spacing: 0;
  border-collapse: collapse;
}
.jdepp td.box-drawing {
  width: 2em;
  text-align: center;
  background-color: darkorange;
}
.jdepp td.bunsetsu {
  text-align: right;
}

.box-drawing-7 {
  clip-path: polygon(
    0% calc(50% - var(--b)),
    0% calc(50% + var(--b)),
    calc(50% - var(--b)) calc(50% + var(--b)),
    calc(50% - var(--b)) 100%,
    calc(50% + var(--b)) 100%,
    calc(50% + var(--b)) calc(50% - var(--b))
  );
}

.box-drawing-T {
  clip-path: polygon(
    0% calc(50% - var(--b)),
    0% calc(50% + var(--b)),
    calc(50% - var(--b)) calc(50% + var(--b)),
    calc(50% - var(--b)) 100%,
    calc(50% + var(--b)) 100%,
    calc(50% + var(--b)) 0%,
    calc(50% - var(--b)) 0%,
    calc(50% - var(--b)) calc(50% - var(--b))
  );
}

.box-drawing-1 {
  clip-path: polygon(
    calc(50% - var(--b)) 0%,
    calc(50% - var(--b)) 100%,
    calc(50% + var(--b)) 100%,
    calc(50% + var(--b)) 0%
  );
}
